@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Open Sans", sans-serif;
}

.Staat-font {
  font-family: "Staatliches", sans-serif;
  letter-spacing: 2px;
}

.black {
  background-color: #020116eb;
}

.box {
  box-shadow: -1px 3px 6px 4px rgba(187, 184, 181, 1);
}